body{
    background-color: #00ff00;
}

/* */
.contenedor{
    background-color: yellow;
    margin-top: 75px;
    margin-left: 350px;
    width: 700px;
    height: 700px;
}

#imagen{
    padding: 100px;
    font-size: 500px;
    color: red;
}